@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	text-align: center;
	font-size: 1.6rem;
	background-color: #f4f4f4;
}

header {
	background: #2f4f4f;
	height: 60vh;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	padding: 30px 60px;
	text-transform: uppercase;
	color: #f4f4f4;
	font-family: "Exo 2", sans-serif;
}

h1 {
	font-size: 5rem;
	text-align: center;
	padding-right: 60px;
}

header > a {
	color: #f4f4f4;
	text-decoration: none;
	font-size: 1.6rem;
	font-weight: 700;
}

li {
	list-style: none;
}

li > div {
	width: 270px;
	margin-left: 5px;
}

i {
	color: #2f4f4f;
	font-size: 22px;
	margin-left: 10px;
	cursor: pointer;
}

/* habit lists */
#list-container {
	width: 95vw;
	max-width: 1500px;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	
}

.habitlist {
	margin-top: -260px;
	min-height: 580px;
	width: 27vw;
	max-width: 400px;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 30px;
}

.habitlist > img {
	height: 126px;
	margin-top: 50px;
}

.habitlist > h3 {
	font-family: "Exo 2", sans-serif;
	font-weight: 600;
	font-size: 2.7rem;
	color: white;
	text-align: center;
	text-decoration: none;
	margin-top: 20px;
	margin-bottom: 50px;
}

/* Individual habit */

.individual {
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-family: "Poppins", sans-serif;
	text-align: left;
	width: 100%;
}

.individual img {
	width: 20px;
	/* margin: 10px; */
}

.habit-checkbox {
	cursor: pointer;
}

.delete-btn {
	opacity: 0.3;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.delete-btn:hover {
	opacity: 1;
}

.individual-habit-name {
	font-weight: 700;
	font-size: 1.6rem;
	text-transform: capitalize;
	margin-bottom: 3px;
}

.individual-habit-streak {
	font-weight: 500;
	font-size: 1.4rem;
	color: #848484;
}

.habitListItem {
	display: inline-block;
	color: white;
	text-align: center;
	cursor: pointer;
}

.habitListItem > input[type="checkbox"] {
	cursor: pointer;
}

.delete-img {
	color: #2f4f4f;
	padding-right: 20px;
	font-size: 22px;
	opacity: 0.3;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.delete-img:hover {
	opacity: 1;
}

.add-habits {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	color: #848484;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
}

.add-habits:hover {
	color: #333;
}

/* analytics container */

#stats-container {
	margin-top: 60px;
	width: 95vw;
	text-align: left;
	font-family: "Poppins", sans-serif;
}

#stats-container > h2 {
	font-family: "Exo 2", sans-serif;
	text-transform: uppercase;
}

#stats-container > h2 {
	text-align: center;
}

.analyticsListItem {
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: 30px;
	margin-left: 70px;
}

.text {
	display: inline-block;
}

.data {
	margin-left: 3px;
}

.title {
	font-weight: 600;
	text-transform: capitalize;
}

.strengthDisplay {
	display: flex;
	margin-left: 6px;
}

.powerblock {
	display: inline-block;
	height: 15px;
	width: 15px;
	margin: 1px;
}

.block1,
.block2 {
	background-color: red;
}

.block3 {
	background-color: darkorange;
}

.block4 {
	background-color: rgb(247, 233, 37);
}

.block5,
.block6 {
	background-color: greenyellow;
}

.block7,
.block8 {
	background-color: rgb(12, 196, 12);
}

.block9 {
	background-color: green;
}

.block10 {
	background-color: darkgreen;
}

footer.flex-container {
	display: flex;
	flex-direction: column;
	font-family: "Exo 2", sans-serif;
	margin-bottom: 20px;
}

#github {
	margin: 50px 0 10px;
	width: 30px;
	height: 30px;
}

@media screen and (max-width: 750px) {
	#list-container{
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
	}

	.habitlist{
		width: 70vw;
		margin: 30px;
	}

	header{
		height: fit-content;
	}

	img{
		margin: 0 30px 0 30px;
	}

	#github{
		height: 20px;
		width: 20px;
	}

	.individual{
		width: 60vw;
	}
}
